/* body {
  background-color:  rgb(206, 202, 211);
} */

body {
  background: linear-gradient(90deg, rgb(124, 121, 167) 1%, rgb(228, 122, 122)); 
}

.header,
.footer {
  background: linear-gradient(270deg, rgb(86, 82, 138) 1%, rgb(224, 68, 68));
}

.footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  color: white;
}


/* #Q {
  display: inline-flex;
  padding: 40px 0px -10px 20px;
  color: white;
  text-align: center;
} */

h1 {
  /* display: inline-flex; */
  padding: 10px 10px 10px 10px;
  color: white;
  text-align: center;
}

#getQuote {
  margin: 0;
  width: 90%;
  position: absolute;
  top: 44%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#intro {
  text-align: center;
  color: white;
  padding-bottom: 20px;
}

#quoteBtn {
  font-size: 165%;
  padding: 5px 30px 5px 30px;
  margin: 0;
  width: 90%;
  position: absolute;
  top: 100%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 4px;
  /* text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); */
}

#chooseVoice {
  padding: 50px;
  align-content: center;
  display: flex;
}


