/* .centerEverything {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: 3px solid green;
} */

body {
  background: linear-gradient(90deg, rgb(124, 121, 167) 1%, rgb(228, 122, 122)); 
}

.header,
.footer {
  background: linear-gradient(270deg, rgb(86, 82, 138) 1%, rgb(224, 68, 68));
}

.footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  color: white;
}


/* #Q {
  display: inline-flex;
  padding: 40px 0px -10px 20px;
  color: white;
  text-align: center;
} */

h1 {
  /* display: inline-flex; */
  padding: 10px 10px 10px 10px;
  color: white;
  text-align: center;
}

.getQuoteIntro {
  margin: 0;
  width: 90%;
  position: absolute;
  top: 44%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.getQuoteFinal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
  position: absolute;
  /* top: 44%; */
  /* left: 50%; */
  /* -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
}

#intro {
  text-align: center;
  color: white;
  padding-bottom: 20px;
}

.introBtn {
  font-size: 165%;
  padding: 5px 30px 5px 30px;
  margin: 0;
  width: 60%;
  border-radius: 4px;
  position: absolute;
  top: 100%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /* text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); */
}

.finalBtn {
  font-size: 165%;
  padding: 5px 30px 5px 30px;
  margin: 0;
  width: 60%;
  border-radius: 4px;
  position: static;
}

#quoteArea {
  margin-top: 10px;
  padding: 16px;
}

#quoteHere,
#authorSubjectHere {
  color: white;
  text-align: center;
  font-weight: 400;
  line-height: 150%;
}

#chooseVoice {
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 50px;
  /* align-content: center; */
  display: none;
}


