/* .centerEverything {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: 3px solid green;
} */

body {
  background: linear-gradient(90deg, rgb(124, 121, 167) 1%, rgb(228, 122, 122)); 
}

.header,
.footer {
  background: linear-gradient(270deg, rgb(72, 69, 119) 1%, rgb(224, 68, 68));
}

.footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  padding: 4px;
}

.text {
  color: white;
}

/* #Q {
  display: inline-flex;
  padding: 40px 0px -10px 20px;
  color: white;
  text-align: center;
} */

h1 {
  /* display: inline-flex; */
  padding: 10px 10px 10px 10px;
  text-align: center;
}

.getQuoteIntro {
  margin: 0;
  width: 90%;
  position: absolute;
  top: 44%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.getQuoteFinal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
  position: absolute;
  /* top: 44%; */
  /* left: 50%; */
  /* -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
}

#intro {
  text-align: center;
  padding-bottom: 20px;
}

#quoteArea {
  margin-top: 10px;
  padding: 16px;
}

#quoteHere,
#authorSubjectHere {
  text-align: center;
  font-weight: 400;
  line-height: 150%;
}

#chooseVoice {
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 50px;
  /* align-content: center; */
  display: none;
}
#oldQuotes {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  align-items: center;
  justify-content: center;
  margin: 30px 30px 80px 30px;
}

.pure-button {
  border-radius: 4px;
  background-color: rgb(72, 69, 119);
}

.introBtn {
  font-size: 200%;
  padding: 5px 30px 5px 30px;
  margin: 0;
  width: 60%;
  border-radius: 4px;
  position: absolute;
  top: 100%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /* text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); */
}

.finalBtn {
  font-size: 200%;
  padding: 5px 30px 5px 30px;
  margin: 0;
  width: 60%;
  border-radius: 4px;
  position: static;
}

#saveBtn {
  background-color: rgb(224, 68, 68);
  /* display: none; */
  /* padding: 5px 30px 5px 30px;
  margin: 0;
  position: static;

  justify-content: center;
  align-items: center;
  position: absolute;
  left: 45%;
  right: 45%; */
  
}

.displayBtn {
  width: 60%;
}

.delBtn {
  /* width: 40px; */
}

@media screen and (min-width: 768px) {
  main {
    margin-left: 60px;
    margin-right: 60px;
  }
  .finalBtn {
    width: 40%;
    position: relative;
    right: 60px
  }
  .displayBtn {
    width: 40%;
  }
}

@media screen and (min-width: 992px) {
  main {
    margin-left: 80px;
    margin-right: 80px;
  }
  .finalBtn {
    width: 30%;
    position: relative;
    right: 80px
  }
}
